# CSC110 Final Project Requirements

pandas~=1.1.5

dash~=1.18.1

scikit-learn~=0.23.2

# Earlier versions of Numpy may cause issues with Windows 10 version 2004
# This pre-release version is recommended
numpy~=1.20.0rc1
